  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');



body{
    background-color:#ffffff;
}

.bg-nav{
    background-color: #f5f5f5;
}
.navbar-brand {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-family: 'Raleway', bold sans-serif;
    font-size: xx-large;
}

.nav-item {
    margin-top: 25px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    border-right: 1px solid #000000;
}

.nav-link{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.nav-item:nth-child(3) {
    border-right: none;
}

.nav-item:nth-child(7) {
    border-right: none;
}


hr{
    margin: 10px;
}  

@for $i from 1 through 12 {   /* Lave .col */
    .col-#{$i} {
        width: 100%/12 * $i;
    }
}
.carusel{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.imgs{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn{
    display: flex;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    background-color: #ffffff;
   
}

.col-2{
    border-right: #000000 solid 1px;
    border-right: 25px;
    border-left: 25px;
}

.footer{
    display: flex;
    background-color: #F2DFEB;
    
}

.col-3{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-right: 40px;
    border-left: 40px;
    .gruop-list{
        font-family: raleway;
    }
}

